body {
    color: purple;
    padding: 0;
    margin: 0;
}
canvas::-webkit-scrollbar {
    display: none;
}
* {
    box-sizing: border-box;
}
canvas {
    width: 100%;
    background: rgb(233, 233, 233);
}